/* CSS declarations go here */
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

a{
	color: inherit;
}

h1, h2, h3, h4, h5, h6{
	font-weight: inherit;
}

h1, h2{
	margin: 0.5em;
}

body{
	background-color: #EEE;
	font-size: 0.8em;
	color: #444;
}

input{
	border: 0;
	padding: 0.5em;
	margin-top: 3px;
	display: block;
	background-color: #FAFAFA;
}

label{
	font-size: 1.5em;
}

input[type='submit'],
button{
	font-weight: 500;
	color: #35F;
	text-align: center;
	text-transform: uppercase;
}

form{
	text-align: left;
	margin: 1em 0.5em;
	padding: 0.5em;
	background-color: #57F;
	color: #FAFAFA;
	display: inline-block;
	max-width: 30em;
}

.content{
	text-align: center;
	max-width: 980px;
	margin: 0 auto;
}

.header{
	background-color: #FAFAFA;
	padding: 1em;
	text-align: right;
}

input,
form,
.header{
	box-shadow: 0 0 2px #BBB;
}

input{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#recaptcha-container > div:first-child{
	margin: 0.3em 0;
}

.users li,
.curso_inscricao{
	background-color: rgba(255,255,255,0.3);
	padding: 0.5em;
	margin: 0.1em -0.5em;
	display: block;
}
.users li:hover,
.curso_inscricao:hover{
	background-color: rgba(255,255,255,0.2);
}

.additional_info{
	color: #DDD;
	max-width: 20em;
}

.users li div{
	display: inline-block;
}

.controls{
	float: right;
	margin: 0.5em 0 0 0.5em;
}
.cursos{
	margin: 0.5em 0;
}
input[type='checkbox']{
	display: none;
}
input[type=checkbox] + label{
	padding-left: 1.5em;
	background: url(checkboxunfilled.svg) left center no-repeat;
}
input[type=checkbox]:checked + label{
	background: url(checkboxfilled.svg) left center no-repeat;
}
