/* #fixes */
*{
	margin: 0;
	padding: 0;
}

input,
textarea{
	font-family: inherit;
}

input,
textarea{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* /fixes */

body{
	background-color: #FAFAFA;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1,
h2,
h3{
	margin: 0.5em;
	font-weight: 300;
}

header,
section{
	box-shadow: 0 1px 2px #DDD;
	padding: 0.5em;
}

header{
	text-align: right;
	background-color: #EEE;
}

main{
	text-align: center;
}

section{
	text-align: left;
	color: #FAFAFA;
	display: inline-block;
	vertical-align: top;
	/* vertical-align: middle; */
	background-color: #2196F3;
	margin: 1em 0.3em;
	padding: 0.3em;
}

input,
textarea{
	display: block;
	border: 0;
	padding: 0.5em 0.3em;
	margin: 0.2em 0;
	width: 100%;
}

textarea{
	resize: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label{
	margin-left: -0.2em;
	padding: 0.2em 0 0.2em 1.7em;
	background: url(img/cb.svg) no-repeat left center;
}

input[type="checkbox"]:checked + label{
	background: url(img/cbChecked.svg) no-repeat left center;
}

input[type="submit"]{
	color: #1976D2;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #EEE;
}

ul{
	list-style-type: none;
	margin-top: 0.5em;
}

ul.options{
	margin: 0.5em 0;
}

li{
	padding: 0.4em;
	background-color: rgba(255,255,255,0.3);
	margin: 2px -0.3em;
}

.options li:hover{
	background-color: rgba(255,255,255,0.2);
}

.options li.disabled{
	background-color: rgba(170,170,170,0.7);
}

.description{
	color: rgba(40,40,40,0.5);
	font-size: 0.9em;
	max-width: 25em;
}

main > .description{
	text-align: center;
	margin: 0 auto;
}

#form-inscricao .description{
	margin-left: 2em;
}

#control-admins button,
#control-cursos button{
	width: 1.7em;
	height: 1.7em;
	float: right;
}

.remove{
	background: url(img/delete.svg);
	border: 0;
}

.show-edit{
	background: url(img/settings.svg);
	border: 0;
}

.show-participantes{
	background: url(img/people.svg);
	border: 0;
}

.print{
	background: url(img/print.svg);
	border: 0;
}

button.disabled{
	background: url(img/cb.svg);
	border: 0;
}

button.enabled{
	background: url(img/cbChecked.svg);
	border: 0;
}

input.presenca{
	display: inline-block;
	float: right;
	width: 8em;
}
